@import url("https://fonts.googleapis.com/css?family=Baskervville|EB+Garamond|Open+Sans|Playfair+Display&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"); <!--USE THIS BEFORE LAUNCH-->

/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Playfair Display", serif;
}

p,
span,
ul > li {
  font-family: "Open Sans", sans-serif;
  // font-family: "Share Tech Mono", monospace; USE THIS BEFORE LAUNCH
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}
